<div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-1 p-4">
        <!-- Column 1: Image -->
        <div class="md:col-span-1  relative">

            <img *ngIf="!loader " [src]="username.avatar_url" alt="Profile Image" class="w-40 h-40 mb-1 flex m-auto md:w-64 md:h-64 rounded-full border-4 border-gray-300" onerror="this.onerror=null;this.src='https://via.placeholder.com/150';this.alt='Image';" />
            <ngx-skeleton-loader count="1" appearance="circle" *ngIf="loader" [theme]="{height: '14rem', width: '14rem' ,margin:'auto',display:'flex'}"></ngx-skeleton-loader>

            <div>

                <div class="flex pt-2 justify-center" *ngIf="!loader">
                    <div class="relative inline-block" [cdkCopyToClipboard]="value" (cdkCopyToClipboardCopied)="onCopySuccess()">
                        <svg matRipple class="h-8 w-8 text-blue-500 cursor-pointer transition duration-300 transform-gpu hover:scale-105" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">  <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3" />  <line x1="8" y1="12" x2="16" y2="12" /></svg>
                        <span *ngIf="isCopied" class="absolute bg-slate-200 text-black py-2 px-4 rounded mt-2 left-1/2 transform -translate-x-1/2 opacity-1 transition-opacity duration-300">
                          Copied!
                      </span>
                    </div>

                    <a href="{{username.url}}" class=" p-1 text-blue-700 text-lg">{{username.url}}</a>

                </div>
                <ngx-skeleton-loader count="1" appearance="line" *ngIf="loader" [theme]="{margin:'1rem 0'}"></ngx-skeleton-loader>

            </div>
        </div>
        <!-- Column 2: Information -->
        <div class="md:col-span-2  px-4 md:p-3 lg:px-0 md:mt-6">
            <div *ngIf="!loader">
                <h2 class="text-2xl font-bold mb-4">{{username.name}}</h2>
                <p class="text-gray-700">{{username.bio}}</p>
                <div class="flex">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
              </svg>

                    <p class="text-gray-700 p-1">{{username.location}}</p>

                </div>
                <p class="text-gray-700">
                    <a href="twitterllink">Twitter:{{username.twitter_username}}</a>
                </p>
            </div>

            <ngx-skeleton-loader count="4" appearance="line" *ngIf="loader"></ngx-skeleton-loader>

            <!-- Add more information as needed -->
        </div>
    </div>
</div>


<div class="container mx-auto ">
    <div class="grid grid-cols-1 md:grid-cols-2   p-4 ">
        <div class=" rounded overflow-hidden shadow-lg outline outline-sky-300	rounded-2xl  m-3 " *ngFor="let item of repos | slice: (pageIndex - 1) * pageSize : pageIndex * pageSize">
            <div class="px-3 py-4">
                <div class="font-bold text-xl mb-2 text-blue-400	" *ngIf="!loader">{{item.name}}</div>
                <ngx-skeleton-loader count="1" appearance="line" *ngIf="loader" [theme]="{width:'50%'}"></ngx-skeleton-loader>

                <p class="text-gray-700 text-base" *ngIf="!loader && item.description != null">
                    {{item.description}} </p>
                <p class="text-gray-700 text-base" *ngIf="!loader && item.description == null">
                    No description available </p>
                <ngx-skeleton-loader count="2" appearance="line" *ngIf="loader"></ngx-skeleton-loader>

            </div>
            <div class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2" *ngIf="!loader && item.language != null">{{item.language}}</span>
                <ngx-skeleton-loader count="1" appearance="line" *ngIf="loader" [theme]="{width:'7rem', margin:'0 1rem'}"></ngx-skeleton-loader>

                <!-- <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2" *ngIf="!loader">#travel</span>
                <ngx-skeleton-loader count="1" appearance="line" *ngIf="loader" [theme]="{width:'7rem', margin:'0 1rem'}"></ngx-skeleton-loader>

                <span class=" inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 " *ngIf="!loader">#winter</span>
                <ngx-skeleton-loader count="1" appearance="line" *ngIf="loader" [theme]="{width:'7rem', margin:'0 1rem'}"></ngx-skeleton-loader> -->

            </div>
        </div>
    </div>
</div>

<mat-paginator #paginator class="demo-paginator centerpaination " (page)="handlePageEvent($event) " [length]="length " [pageSize]="pageSize " [disabled]="disabled " [showFirstLastButtons]="showFirstLastButtons " [pageSizeOptions]="showPageSizeOptions
                    ? pageSizeOptions : [] " [hidePageSize]="hidePageSize " [pageIndex]="pageIndex - 1 " aria-label="Select page ">
</mat-paginator>